@font-face {
    font-family: "lato-bold";
    src: url(../assets/fonts/lato/Lato-Bold.ttf);
}

@font-face {
    font-family: "lato-regular";
    src: url(../assets/fonts/lato/Lato-Regular.ttf);
}

$font-title: "lato-bold", sans-serif;
$font-text: "lato-regular", sans-serif;

$color-main: #fd2d01;
$color-secondary: #56423D;
$color-tertiary: #fcd4d3;

$breakpoints: (tablet: 992px, phone: 768px);